*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Open Sans', sans-serif;
	overflow: hidden;
	font-size: 16px;
  line-height: 1.5;

  margin: 0;
  padding: 0;


  	
}

.nav-bar-wrapper {
    position: relative;
    z-index: 100;
    
}


.nav-bar {
    background: #000;
    height: 50px;
    -moz-box-shadow: 0 0 20px rgba(0,0,0,.7);
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.7);
    box-shadow: 0 0 20px rgba(0,0,0,.7);
    overflow: hidden;
    border-bottom: solid 1px #333;
}

#nav-logo {
    background-position: center -10px;
    background-size: 130px 130px;
    height: 120px;
    margin: 0 0 0 -65px;
    width: 130px;
}


/*-- polygon --*/

p {
  margin: 0 0 10px 0;
}

.clip-svg {
  width: 0;
  height: 0;
}

.img-clip-block {
  font-family: 'Cuprum', sans-serif;
  margin: 20px 0;
}

.img-clip-row {
  text-align: center;
}

.img-clip-row:first-of-type .img-clip-wrap {
  background-position: top;
}

.img-clip-row:nth-of-type(2) .img-clip-wrap:nth-of-type(odd) {
  background-position: left;
}

.img-clip-row:nth-of-type(2) .img-clip-wrap:nth-of-type(even) {
  background-position: right;
}

.img-clip-row:last-of-type .img-clip-wrap {
  background-position: bottom;
}

.img-clip-wrap {
  width: 300px; 
  height: 300px; 
  background-image: url("../Images/baemont.jpg"); 
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: url("#clip-diamond-demo");
}

.overlay {
  background: rgba(171, 147, 116, 0.8);
  
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.overlay-content {
  color: rgba(255, 255, 255, 0.4);
  font-weight: 400;
  font-size: 180%;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.img-clip-wrap:hover .overlay {
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  background: none;
}

.img-clip-img {
  display: block;
}

@media only screen and (min-width: 650px) {
  .img-clip-row {
    margin-top: -154px;
  }

  .img-clip-row:first-of-type {
    margin-top: auto;
  }

  .img-clip-wrap {
    display: inline-block;
  }
}

.advert{
  height: 200px;
  background-image: -webkit-linear-gradient(top left,#336666, #66cccc);
  background-image: -moz-linear-gradient(top right, #336666, #66cccc);
  background-image: -ms-linear-gradient(top right, #336666, #66cccc);
  background-image: -o-linear-gradient(top right, #336666, #66cccc);
  background-image: linear-gradient(to top right, #336666, #66cccc);
}

.tropez{
  
  margin: auto;
}



