@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
body {
  margin: 0;
  padding: 0;
  background: lightgoldenrodyellow;
 /* background-image: -webkit-linear-gradient(left, #336666, #66cccc);
  background-image: -moz-linear-gradient(right, #336666, #66cccc);
  background-image: -ms-linear-gradient(right, #336666, #66cccc);
  background-image: -o-linear-gradient(right, #336666, #66cccc);
  background-image: linear-gradient(to right, #336666, #66cccc);*/
  line-height: 1.5;
}


.paper {
  position: absolute;
  height: 550px;
  width: 450px;
  background: rgba(255,255,255,0.9);
  margin: -275px -225px;
  left: 50%;
  top: 50%;
  box-shadow: 0px 0px 5px 0px #888;
}
.paper::before {
  content: '';
  position: absolute;
  left: 45px;
  height: 100%;
  width: 2px;
  background: rgba(255,0,0,0.4);
}
.lines {
  margin-top: 38px;
  height: calc(100% - 38px);
  width: 100%;
  background-image: -webkit-repeating-linear-gradient(white 0px, white 24px, steelblue 25px);
  background-image: repeating-linear-gradient(white 0px, white 24px, steelblue 25px);
}
.text {
  position: absolute;
  top: 40px;
  left: 55px;
  bottom: 10px;
  right: 10px;
  line-height: 25px;
  font-family: 'Indie Flower' !important;
  font-size: 19px;
  overflow: hidden;
  outline: none;
  color: #000;
}
.holes {
  position: absolute;
  left: 10px;
  height: 25px;
  width: 25px;
  background: lightgoldenrodyellow;
  border-radius: 50%;
  box-shadow: inset 0px 0px 2px 0px #888;
}
.hole-top {
  top: 10%;
}
.hole-middle {
  top: 50%;
}
.hole-bottom {
  bottom: 10%;
}

.boomba{
  height: 550px; 
  margin-top: 30px;
  margin-bottom: 30px;
}
.tellam{

  position: absolute;
  top: 40px;
  left: 55px;
  bottom: 10px;
  right: 10px;
  line-height: 25px;
  font-family: 'Indie Flower' !important;
  font-size: 19px;
  overflow: hidden;
  outline: none;
  color: #000;
}
.tellem{

  position: absolute;
  top: 40px;
  left: 55px;
  bottom: 10px;
  right: 10px;
  line-height: 25px;
  font-family: 'Indie Flower' !important;
  font-size: 19px;
  overflow: hidden;
  outline: none;
  text-transform: uppercase;
  color: #000;
}

.butt{
  left: 47%;
  position: relative;
}

.rowB{
  margin-top: 10px;
  margin-bottom: 30px;
}