<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Archangel</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="css/plugins/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body ng-app="mainApp">

    <div id="wrapper" ng-controller="mainCtrl">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">The Archangel</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a href="../index.php?logout=true">
                        <i class="fa fa-sign-out fa-fw"></i> Logout 
                    </a>
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="#"><i class="fa fa-bullhorn fa-fw"></i>Ideas<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="../home.html">Post New</a>
                                </li>
                                <li>
                                    <a href="teams.html">All Teams</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header text-info">Hi, <span ng-bind="full_name"></h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" ng-bind="idea_2review.title"></h4>
                        </div>
                        <div class="modal-body">
                            <form action="#" method="post" onsubmit="return false;">
                                <div class="form-group">
                                    <textarea id="review" class="form-control" ng-model="desc" placeholder="Your views, comments or issues" required/></textarea>
                                </div>
                                <button class="btn btn-success" ng-click="sendReview(desc, idea_2review.id)" type="submit">Send</button>
                                <span ng-bind="review_sent"></span>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-dashboard fa-fw"></i> Dashboard
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <h4 class="text-info">Latest Ideas From The Archangel Interactive<span class="badge">{{num_ideas}}</span></h4><hr>
                            <ul class="timeline"> 
                                <li ng-class-even="'timeline-inverted'" ng-repeat="idea in ideas">
                                <div class="timeline-badge danger"><i class="fa fa-bomb"></i></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading"><h4 class="timeline-title" ng-bind="idea.title"></h4></div>
                                        <div class="timeline-body">
                                            <p ng-bind="idea.description"></p>
                                            <p> Posted:<small class="text-muted"><i class="fa fa-clock-o"></i> <span ng-bind="idea.posted_on"></span>
                                            </small> | By <a href="#" ng-bind="idea.posted_by_name"></a>
                                        </p>
                                        <hr>
                                        <button type="button" id="like_btn{{idea.id}}" class="btn btn-info btn-sm" ng-click="like(idea)">Like</button>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                                <span ng-bind="idea.rating+' Likes'"></span>
                                                <i class="fa fa-gear"></i>  <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#" data-toggle="modal" data-target="#myModal" ng-click="reviewIdea(idea)">Review</li>
                                            </ul>
                                        </div>
                                        </div>
                                    </div> 
                                </li><!---->
                            </ul>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>


    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="js/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/sb-admin-2.js"></script>

    <!-- angular js -->
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-route.min.js"></script>
    <script type="text/javascript" src="js/angular-cookies.min.js"></script>
    <script type="text/javascript">   ///angularjs 
//instantiate instance of angular named main_app
var main_app = angular.module("mainApp", ['ngRoute', 'ngCookies']);

//controllers, to maniplate behavior of parts of the page P
main_app.controller('mainCtrl', function($rootScope, $scope, $http, $location, $cookies) {
    $rootScope.like = function(idea){
        var param = {}, id = idea.id;
        param.type = 'update';
        param.table = 'ideas';
        param.data ="rating = rating + 1 WHERE id ="+id;
        console.log(param);
        $http.post("php-stuff.php", {params: param}).success(function (response) {          
            if(response){
                document.getElementById("like_btn"+id).disabled = true;
                $rootScope.getIeas();
            }
        });
    };
    $rootScope.getIeas = function(){
        var param = {};
        param.type = 'select';
        param.table = 'ideas';
        param.filter ="WHERE shared = 'public' AND team ='The Archangel Interactive'";
        $http.post("php-stuff.php", {params: param}).success(function(res){
            if(res){
                var num =0;
                for(var i in res.items){
                    num++;
                }
                $rootScope.ideas = res.items;
                $rootScope.num_ideas = num;
            }
        });         
    };
    $rootScope.getIeas();
    $rootScope.reviewIdea = function(idea){
        $scope.review_sent = null,
        $rootScope.idea_2review = idea;
    };
    $rootScope.sendReview = function(review, id){
        if(review!=null && id!=null){
            var param ={
                type: "insert",
                table: "comments",
                idea_id: id,
                user: $cookies.get("username"),
                comment: review
            };
            $http.post("php-stuff.php", {params: param}).success(function(res){
            if(res){
                $scope.review_sent = "Sent successfully";
            }else
                $scope.review_sent = res;
            });
        }else $scope.review_sent = "comments cannot be empty!";
    }
});


//
main_app.run(function($rootScope, $location, $http, $cookies){
    $rootScope.isloggedin = function(){console.log("Checking if user logged in");
        if($cookies.get("uid")){
            $rootScope.full_name = $cookies.get("full_name");
        }/*else 
            window.location = "../index.html";
    */}
    $rootScope.isloggedin();
})

    </script>
</body>

</html>